<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="PaymindsEntities" connectionString="metadata=res://*/PaymindsDataAccess.csdl|res://*/PaymindsDataAccess.ssdl|res://*/PaymindsDataAccess.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=3982c8a4-720e-4027-bf84-a912010e66f5.sqlserver.sequelizer.com;persist security info=True;user id=ercnzeqmvtrtcddq;password=ttTyaqB7gtDjTCtEMKATCeKJc5kbeCecNydKQcN3ngxJMCSxAkgCPvkoRiwdfz2L;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>